<h1>New Message</h1>

<%= form_for @message do |f| %>
  <%= f.label :to %><br>
  <%= f.text_field :to %><br>
  <%= f.label :from %><br>
  <%= f.text_field :from %><br>
  <%= f.label :body %><br>
  <%= f.text_field :body %><br>
  <%= f.submit, :class => 'btn btn-success' %>
<% end %>
